<div class="row">

  <div class="col-xs-12 carousel">
    <div class="tile">
      {{#link-to 'article'}}
      <img src={{imageLink}} {{carouselImage}}>
      <h3>Cutest hamster ever</h3>
      {{/link-to}}

      <span class = "glyphicon glyphicon-menu-left" {{action 'scrollLeft'}}></span>
      <span class = "glyphicon glyphicon-menu-right" {{action 'scrollRight'}}></span>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-8">
    <div class="tile">
      {{#link-to 'article'}}
      <img src="/images/hamster1.jpg">
      <h3>Cutest hamster ever</h3>
      {{/link-to}}
    </div>
  </div>

  <div class="col-sm-4">
    <div class="tile">
      {{#link-to 'article'}}
      <img src="/images/hamster2.jpg" >
      <h3>Cutest hamster ever</h3>
      {{/link-to}}
    </div>
  </div>

</div>

<div class="row">
  <div class="col-sm-4">
    <div class="tile">
      {{#link-to 'article'}}
        <img src="/images/hamster3.jpg">
        <h3>Cutest hamster ever</h3>
      {{/link-to}}
    </div>
  </div>

  <div class="col-sm-4">
    <div class="tile">
      {{#link-to 'article'}}
      <img src="/images/hamster4.jpg">
      <h3>Cutest hamster ever</h3>
      {{/link-to}}
    </div>
  </div>

  <div class="col-sm-4">
    <div class="tile">
      {{#link-to 'article'}}
      <img src="/images/hamster2.jpg">
      <h3>Cutest hamster ever</h3>
      {{/link-to}}
    </div>
  </div>
</div>
